body {
    background: url(http://www.celloxa.pl/img/banner.jpg) no-repeat no-repeat center center fixed;
    padding-top: 4%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

.content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.contBody {
    position: relative;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #ffffff;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    color: #9E9E9E;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
}

h1 span,
h2 span,
h3 span,
h4 span {
    color: #ffffff;
}

.text-colored {
    color: #55acee;
}

/*a {
    color: #ffffff;
}*/

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    a:focus,
    a:active {
        outline: none;
        text-decoration: none;
    }
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.nav a {
    font-size: 1.3em !important;
}

.nav li {
    padding-right: 5px;
}
span {
    font-size: 24px;
}
.large {
    font-size: 18px;
    color: #ffffff;
}

.main {
    background-color: rgba(37, 37, 37, 0.85);
}

.modal {
    top: 10% !important;
    bottom: auto !important;
}
.overlay-container {
    position: relative;
    padding: 5%;
    display: block;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: -1px;
    cursor: pointer;
    overflow: hidden;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.section {
    padding: 80px 0;
    position: center;
    text-decoration-color: #ffffff;
}

.subfooter {
    background-color: #fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.btn {
    padding: 10px 25px;
    font-size: 18px;
    line-height: 1.42857143;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-default {
    color: #673AB7;
    margin-top: 3rem;
    border: 1px solid #cccccc;
}

    .btn-default:hover {
        color: #ffffff;
        background-color: #339BEB;
        border-color: #339BEB;
    }

.list-unstyled li {
    padding: 5px 0;
}

.list-horizontal {
    padding: 15px 0;
}

.list-horizontal-item img {
    display: block;
    margin: 0 auto;
}

.list-icons {
    color: #ffffff;
    padding-top: inherit;
    padding-left: 42%;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}

    .list-icons li {
        padding: 0 0 15px 0;
    }
